@page "/"

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="ObtenerPeliculas()" />
</div>

<div>
    <h2>Crear nueva película</h2>
    <EjemploTextbox placeholder="Nombre película" disabled/>
    @*<EjemploTextbox @attributes="@(parametros)" />*@
</div>

@code{
    Dictionary<string, object> parametros = new Dictionary<string, object>()
        {
            {"placeholder", "Nombre Película2"},
            {"disabled", "" }
        };

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
                new Pelicula(){ Titutlo = "Spider-Man: Far From Home", Lanzamiento = new DateTime(2019,7,12)},
                new Pelicula(){ Titutlo = "Mona", Lanzamiento = new DateTime(2019,7,12)},
                new Pelicula(){ Titutlo = "Inception", Lanzamiento = new DateTime(2019,7,12)},
        };
    }
}